include MANIFEST.in
include README.rst
include LICENSE
include requirements-dev.txt
include versioneer.py
include pyprep/_version.py

graft docs
graft examples
graft pyprep
graft tests


### Exclude

global-exclude *.py[co]
global-exclude __pycache__

recursive-exclude .github *
recursive-exclude docs/generated *
recursive-exclude docs/auto_examples *
recursive-exclude docs/_build *
recursive-exclude matprep_artifacts *

exclude .codecov.yml
exclude .gitignore
exclude .gitmodules
exclude .mailmap
exclude .coveragerc
exclude .readthedocs.yml
exclude .pre-commit-config.yaml
