include MANIFEST.in
include README.rst
include LICENSE
include requirements-dev.txt

graft docs
graft examples
graft pyprep
graft test


### Exclude

global-exclude *.py[co]
global-exclude __pycache__

recursive-exclude .github *

exclude .codecov.yml
exclude .gitignore
exclude .mailmap
exclude Makefile
exclude .coveragerc
include versioneer.py
include pyprep/_version.py
