build
black
flake8
flake8-docstrings
flake8-pyproject
isort
matplotlib
tdqm
pooch
numpydoc
pillow
pre-commit
pymatreader
pytest-cov
pytest-sugar
pytest
sphinx>3
sphinx_bootstrap_theme
sphinx_gallery
sphinx-copybutton
