name: Python tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 4 * * MON"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.13"]
        mne-version: [mne-stable]

        include:
          # Test mne development version only on ubuntu
          - platform: ubuntu-latest
            python-version: "3.13"
            mne-version: mne-main
            run-as-extra: true

    runs-on: ${{ matrix.platform }}

    env:
      TZ: Europe/Berlin
      FORCE_COLOR: true
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v5
      with:
        path: ${{ env.HOME }}/mne_data/MNE-eegbci-data
        key: v-0-eegbci-${{ hashFiles('pyproject.toml') }}

    - uses: actions/cache@v5
      with:
        path: ${{ env.pythonLocation }}
        key: v-0-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e ".[dev]"

    - name: Install MNE-Python (development version)
      if: matrix.mne-version == 'mne-main'
      run: |
        python -m pip install --upgrade https://github.com/mne-tools/mne-python/archive/refs/heads/main.zip

    - name: Display versions and environment information
      run: |
        echo $TZ
        date
        python --version
        which python
        mne sys_info

    - name: Check formatting
      if: matrix.platform == 'ubuntu-latest'
      run: |
        pre-commit run --all-files

    - name: Test with pytest
      # Options defined in pyproject.toml
      run: pytest

    - name: Build docs
      run: |
        make -C docs/ clean
        make -C docs/ html

    - name: Upload docs build artifacts
      if: ${{ matrix.platform == 'ubuntu-latest' && matrix.mne-version == 'mne-stable' }}
      uses: actions/upload-artifact@v5
      with:
        name: docs-artifact
        path: docs/_build/html
        include-hidden-files: true

    - name: Upload coverage report
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
